{
  "root": true,
  "extends": ["eslint-config-airbnb"],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "jest": true,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel",
    "mocha"
  ],
  "rules": {
    'no-await-in-loop': 0,
    'eol-last': 0,
    'no-shadow': 0,
    'func-names': 1,
    'no-console': 0,
    'no-plusplus': 0,
    'padded-blocks': 0,
    'no-unused-vars': 1,
    'spaced-comment': 0,
    'global-require': 1,
    'linebreak-style': 0,
    'no-global-assign': 1,
    'no-param-reassign': 0,
    'no-trailing-spaces': 1,
    'no-underscore-dangle': 0,
    'no-multi-assign': 1,
    'no-multiple-empty-lines': 0,
    'import/no-dynamic-require': 1,
    'import/no-named-as-default': 1,
    # 'jsx-quotes': [2, 'prefer-double'],
    'max-len': [2, 150, 2, {ignoreComments: true, ignoreUrls: true}],
    'object-property-newline': 0,
    'import/prefer-default-export': 0,
    'import/no-named-as-default-member': 1,
    'react/self-closing-comp': 0,
    'react/jsx-no-bind': 0,
    'react/no-string-refs': 0,
    'jsx-a11y/href-no-hash': 0,
    'react/jsx-indent': 1,
    'react/forbid-prop-types': 0,
    # 'react/no-unused-prop-types': 1,
    'react/no-did-mount-set-state': 1,
    'react/jsx-filename-extension': 0,
    'react/prefer-stateless-function': 0,
    'react/jsx-closing-bracket-location': 1,
    'jsx-a11y/no-static-element-interactions': 0,
    # 'jsx-a11y/anchor-has-content': [2, {components: ['Anchor']}],
    'react/require-default-props': 0,
    'react/no-array-index-key': 0,
    'import/no-unresolved': [2, {caseSensitive: false}],
  }
}
